interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.datadoghq.com/
  response:
    body:
      string: "<!doctype html><html class=announcement data-date=2016-07-14 data-js=js-
        data-section data-file-dir=/ data-file=_index.md data-env=live data-permalink=https://www.datadoghq.com/
        data-draft=false data-image=https://imgix.datadoghq.com/img/datadog_logo_share_tt.png
        lang=en itemscope itemtype=http://schema.org/Article><head><meta name=generator
        content=\"Hugo 0.73.0\"><noscript><iframe src=\"//www.googletagmanager.com/ns.html?id=GTM-WDC8G6\"
        height=0 width=0 style=display:none;visibility:hidden></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WDC8G6');</script><meta
        charset=utf-8><meta http-equiv=x-ua-compatible content=\"IE=edge\"><meta name=viewport
        content=\"width=device-width,initial-scale=1\"><link rel=\"dns-prefetch preconnect\"
        href=https://imgix.datadoghq.com><link rel=\"dns-prefetch preconnect\" href=https://d88f3ym7dkyv7.cloudfront.net><link
        rel=\"dns-prefetch preconnect\" href=https://streaming-corpsite-collector.datadoghq.com><link
        rel=\"dns-prefetch preconnect\" href=https://www.googletagmanager.com><link
        rel=\"dns-prefetch preconnect\" href=//app-sj16.marketo.com><link rel=\"dns-prefetch
        preconnect\" href=//munchkin.marketo.net><link rel=pre[...]
